@keyframes appear {
  0% {opacity: 0;}
  100% {opacity: 100;}
}
@keyframes disappear {
  0% {opacity: 100;}
  100% {opacity: 0;}
}
.arrow {
  fill: #D7D7D7;
  stroke: black;
  stroke-width: 0;
  border-radius: 50%;
  cursor: pointer;
}
.genomaTag {
  font-weight: bold;
}
text {
  cursor: grab;
}
text:active {
  cursor: grabbing;
}
.container {
  display: block;
  max-width: none;
}
.canvas {
  width: 100%;
  height: auto;
}

.toolBar {
  animation: appear 1s;
  padding: 10px;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
}
#imageToolBar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 0;
  left: 0;
  display: inline-block;
  background: #FFFA;
  border-radius: 20px;
}
.toolBar * {
  margin: 0 10px;
}
.hideButton {
  --mdc-theme-primary: #E94343;
}
.toolBar mwc-button {
  margin-top: auto;
  margin-bottom: auto;
}
#downloadButton {
  margin: 10px;
}
#arrowColorStandardInput {
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 1px;
  height: 1px;
  opacity: 1%;
}

.data {
  display: -webkit-flex;
  display: flex;
  max-width: none;
  flex-direction: column;
  border: solid #6200EE;
  border-radius: 20px;
  margin: 20px;
  padding: 0px;
}
.dataEntry {
  display:flex;
  flex-direction: row;
}
.dataTag {
  font-weight: bold;
  flex: 0 1 20%;
}
.dataContent {
  flex-grow: 4;
}
.datuum {
  padding: 10px;
}

.invisible {
  display: none
}
.disappear {
  animation: disappear 1s forwards;
}