@keyframes fade-in {
    0% { opacity: 1 }
    100% { opacity: 100 }
}
@keyframes build-up {
    0% {
        opacity: 1;
        transform: translate(0, -50px);
    }
    100% {
        opacity: 100;
        transform: translate(0, 0);
    }
}

* {
    margin: 5px;
    font-family: Roboto;
}

html, input {
    margin: 0;
}

body {
    padding: 20px, 0px;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #6200EE;
    color: aliceblue;
    margin: 0;
    padding: 20px;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

#explicacion {
    max-width: 80%;
}

.mdc-theme--secondary-bg {
    background-color: #E2D0FF;
}

#language {
  --mdc-theme-primary: white;
  --mdc-theme-on-primary: #6200EE;
}

.container {
    display: -webkit-flex;
    display: flex;
    max-width: none;
    flex-direction: column;
}
.main {
    display: -webkit-flex;
    display: flex;
    max-width: none;
    flex-direction: column;
}

.form-control-file {
    opacity: 0;
    margin-bottom: -100%;
}
.extraInput {
    width: 300px;
}

.fasta {
    font-family: monospace;
}

.searchCustomization, .genomaData {
    display: -webkit-flex;
    display: flex;
    max-width: none;
    flex-direction: row;
    justify-content: space-around;
    animation: build-up .3  s ease-in-out 0s;
    margin: 0;
    border-radius: 5px;
}

.highlight {
    border: 2px dashed #6200EE;
}

.hr {
    color: #555;
    font-size: large;
    margin: 0;
}
hr {
    border: 1px solid #AAA;
}

.genomaSpec, .searchCustomization, .extraInput {
    animation: fade-in .5s ease-in-out 0s;
}

.option-column {
    display: -webkit-flex;
    display: flex;
    max-width: none;
    flex-direction: column;
}

.search-option {
    padding: 10px;
    box-shadow: 1px 1px 2px 2px #DDD;
    border-radius: 6px;
}

.submitInput {
    opacity: 0%;
    display: contents;
    width: 1px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

mwc-dialog {
    --mdc-dialog-min-width: 240px;
    --mdc-dialog-max-width: 80vw;
    --mdc-dialog-content-ink-color: #000;
}

.tutorialContainer {
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    
}
.tutorialText {
    margin: auto;
    flex: 0 1 40vw;
}
.tutorialImage {
    flex: 0 1 40vw;
}
.tutorialImage img {
    height: 40vh;
}

mwc-snackbar {
    margin: 0;
}

footer {
    background: #555;
    color: pink;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    padding: 50px;
    margin: 0px;
    margin-top: auto;
}

.footer-column {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
}

a {
    margin: 0;
    color: #A2A0FF;
    text-decoration: underline;
}

/*
 * Tooltip logic 
 */

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 10px 5px;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -200px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .tooltipRight {
    bottom: 125%;
    left: 50%;
    margin-left: -200px;
  }
/*
 * End of tooltip logic
 */

.invisible {
    display: none;
}
